/*SIDEBAR*/
#sidebar {
    background-color: #2A364B;

}

#main-content {
    background-color: rgba(241,245,249, 1);
}

table.table.table-hover.table-bordered {
    box-shadow: 0px .5px 1px rgb(215, 206, 206);
}

.logo-container {
    max-width: 125px;
    min-width: 60px;
}

i.bi.bi-house, i.bi.bi-people{
    margin-left: 20px;
}

i.bi {
    color: white;
    font-size: 16px;
    font-style: normal;
}

i.bi.bi-backspace {
    color: black;
    font-size: 16px;
    font-style: normal;
}

